{% extends "base.html" %}

{% block title %}
2do.net - {{ project.name }} - Add Member
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
            <div class="breadcrumb">
                <a href="/{{ project.id }}/">{{ project.name }}</a> &gt;
                <a href="/{{project.id}}/members">Members</a> &gt;
            Add new
    </div>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Add Member to <a style="text-decoration: underline;" href="/{{project.id}}">{{ project.name }}</a></span>
                    
                    <form method="post" class="col s12">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="username" name="username" type="text" class="validate" required>
                                <label for="username">Username</label>
                                <span class="helper-text">Enter the username of the person you want to add</span>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="input-field col s12">
                                <select name="role" id="role">
                                    {% for role_code, role_name in role_choices %}
                                    <option value="{{ role_code }}" {% if role_code == 'VIEWER' %}selected{% endif %}>
                                        {{ role_name }}
                                    </option>
                                    {% endfor %}
                                </select>
                                <label for="role">Role</label>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col s12 center-align">
                                <button type="submit" class="btn waves-effect waves-light">
                                    Add Member
                                    <i class="material-icons right">person_add</i>
                                </button>
                            </div>
                        </div>
                    </form>
                    
                    <div class="row">
                        <div class="col s12 center-align">
                            <a href="{% url 'project:project' project.id %}" class="btn-flat waves-effect">
                                Back to the project
                            </a>
                            <a href="{% url 'project:project_members' project.id %}" class="btn-flat waves-effect">
                                Back to Members List
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>
{% endblock %}