{% extends "base.html" %}
{% block title %}
2do.net - {{ content.name }}
{% endblock %}

{% block content %}
{% load static %}
{% load humanize %}

<div class="grid2">
    <div class="pcard">
        <div class="box">
            {% include "components/newhero.html" %}

            <h2>{{ content.name }}</h2>
            <p>
                {{ content.content_type}}
            </p>
            <a class="waves-effect waves-light btn location">
University of Warsaw, Pasteura 5 Warszawa, Poland
</a> 
            <br>
            <p class="herosummary" title="Project's summary">{{ content.summary|default_if_none:" " }}

                co jest pootrzebne
                gdzie? jakiś podprojekt? jakis przedmiot w danym miejscu?


            </p>
        </div>

    </div>
    <div class="pinfo">
        What who when where
        {% include "components/hero.html" %}

<br>
<br>
<br>
        Project run by <a href="/u/{{content.created_by.id}}">{{content.created_by.username}}</a>
        <blockquote>
            # user bio
            # user verifications
            # user rep
        </blockquote>
        <br>
        {% include "components/rulescard.html" %}
        {% include "components/administrationcard.html" %}
                <!-- users should be able to add tags. verified user with a rep > N can flag project by clicking tags on left of the screen -->

                <div class="chips" style="border-bottom: none;">
                    {% for skill in content.skills.all %}
                    <a href="{% url 'skill_detail' skill.name|lower %}" class="chip">
                        {{ skill.name }}
                    </a>
                    {% empty %}
                    <p>No skills added yet.</p>
                    {% endfor %}
                </div>
    </div>
<div class="pparent">
    {% if parent_projects %}
    {% include "components/parentcard.html" %}
    {% endif %}
</div>
    <div class="ptab">
        <ul class="tabs">
            <li class="tab col s3"><a href="#test1">Intro</a></li>
            <li class="tab col s3"><a href="#goals">Goals</a></li>
            <li class="tab col s3 disabled"><a href="#test3">Disabled Tab</a></li>
            <li class="tab col s3"><a class="active" href="#test4">Needs</a></li>
        </ul>
        <div id="test1" class="col s12">
            Test 1
            {% include "components/hint.html" with hint=1 %}
        </div>

        <div id="goals" class="col s12">
            Goals
            {% include "components/hint.html" with hint=2 %}

            <details>
                <summary>
                    <p>
                        <label>
                            <input type="checkbox" class="filled-in" checked="checked" />
                            <span>Create sth</span>
                        </label>
                    </p>
                </summary>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia dolores ipsam eos. Saepe modi
                dolores quasi accusantium non enim amet nisi sit vel molestias quisquam, nam omnis similique?
                Reprehenderit, amet!

            </details>
            <p>
                <label>
                    <input type="checkbox" class="filled-in" />
                    <span>Filled in</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="checkbox" class="filled-in" />
                    <span>Filled in</span>
                </label>
            </p>

        </div>
        <div id="test3" class="col s12">Test 3</div>
        <div id="test4" class="col s12">
            <!-- needs -->
            <div class="needs-new">

                {%for need in needs%}
                <div class="child-card">
                    
                    <a class='dropdown-trigger btn-flat' href='#' data-target='dropdown1'>
                        <div class="priority">priority: {{need.priority}}</div>
                        
                        <img src="{% static 'icons/menu.svg' %}" alt="idea">
                    </a>

                    <!-- Dropdown Structure -->
                    <ul id='dropdown1' class='dropdown-content'>
                        <li> <a href="/admin/portal/project/{{ project.id }}/change/">[ ADMIN ]</a>
                        </li>
                        <li> <a href="/{{ project.id }}/add_subproject/">add subproject</a>
                        </li>
                        <li class="divider" tabindex="-1"></li>
                        <li> <a href="/{{ project.id }}/add_task/">add task</a>
                        </li>
                        <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
                        <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
                    </ul>
                    <div class="child-detials">


                        <h5><a href="{% url 'need:need' need.id %}">{{ need.name }}</a></h5>
                        <p class="child-summary">
                            {{ need.desc|default_if_none:"" }}
                        </p>
                    </div>

                </div>






                {% empty %}
                <div class="g12note" style="width: 30%; flex: none; padding: 20px;">
                    <!-- dodać nową klasę, która będzie responsywna, bo inline css... dziąsło -->
                    <h3>No needs published</h3>
                    <p>You can change that {% lorem 1 b random %}</p>
                </div>
            </div>
            <!-- ^closed needs-new -->
            {% endfor %}
        </div>
    </div>


    </div>
    <div class="pcom newcomments">
        <h2>
            Comments
        </h2>   
        <form id="add-comment-form" method="post">
            {% csrf_token %}
            <textarea name="content" placeholder="Add a comment..."></textarea>
            <input type="hidden" name="to_project_id" value="{{ content.id }}">
            <button type="submit">Submit</button>
        </form>
        <div>
            {% if comments %}
            {% include "comments.html" with comments=comments %}
            {% else %}
            <p>No comments</p>
            {% endif %}
    
        </div>
    
        <br>
    
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.carousel');
        M.Carousel.init(elems, {
            fullWidth: false,
            indicators: false,
            noWrap: true, // Prevents looping
        });

        // Fix opacity issue
        let items = document.querySelectorAll('.carousel-item');
        items.forEach(item => {
            item.style.opacity = 1; // Force items to be visible
        });
    });
</script>
<style>
    .carousel .carousel-item {
    opacity: 1 !important; /* Force all items to be visible */
    visibility: visible !important;
}
.carousel-item{
    width: 190px;
    height: 254px;
}

</style>

<!--    <script src="{% static 'project/js/script.js' %}"></script>-->

<!-- <div class="nav-wrapper"> bedzie czesto bardzo szerokie. trzeba inaczejc
      <div class="col s12">
        <a href="#!" class="breadcrumb">First</a>
        <a href="#!" class="breadcrumb">Second</a>
        <a href="#!" class="breadcrumb">Third</a>
      </div>
    </div> -->

</div>










<!------------- COMMENT SECTION ---------------->
<div class="g12com">




</div>


</div>


<script src="{% static 'js/project/comments.js' %}"></script>


{% endblock %}