{% extends "base.html" %}
{% load humanize %}

{% block title %}
2do.net - {{ project.name }} - Member: {{ user_profile.username }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

            
        
                <div class="breadcrumb">
            

                <a href="/{{ project.id }}/">{{ project.name }}</a> &gt;
                <a href="/{{project.id}}/members">Members</a> &gt;
                {{user_profile.username}}

            

                </div>
        <div class="col s12 m10 offset-m1 l8 offset-l2">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Member Details</span>
                    
                    <div class="row">
                        <div class="col s12 center-align">
                            <img src="{{ user_profile.avatar|default:'/static/icons/default-avatar.svg' }}" 
                                 alt="{{ user_profile.username }}" 
                                 class="circle responsive-img" 
                                 style="max-width: 100px;">
                            <h4>{{ user_profile.username }}</h4>
                            <p>Joined project {{ membership.date_joined|naturaltime }}</p>
                            <div class="chip">
                                {{ membership.get_role_display }}
                            </div>
                        </div>
                    </div>
                    
                    {% if can_manage %}
                    <form method="post" class="col s12">
                        {% csrf_token %}
                        <div class="row">
                            <div class="input-field col s12 m6 offset-m3">
                                <select name="role" id="role">
                                    {% for role_code, role_name in role_choices %}
                                    <option value="{{ role_code }}" {% if membership.role == role_code %}selected{% endif %}>
                                        {{ role_name }}
                                    </option>
                                    {% endfor %}
                                </select>
                                <label for="role">Role</label>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col s12 center-align">
                                <button type="submit" class="btn waves-effect waves-light">
                                    Update Role
                                    <i class="material-icons right">save</i>
                                </button>
                            </div>
                        </div>
                    </form>
                    
                    {% if not membership.is_owner %}
                    <div class="row">
                        <div class="col s12 center-align">
                            <a href="{% url 'project:remove_member' project.id user_profile.id %}" 
                               class="btn waves-effect waves-light red">
                                Remove from Project
                                <i class="material-icons right">person_remove</i>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                    
                    <div class="row">
                        <div class="col s12">
                            <h5>User Info</h5>
                            <p>Username: {{ user_profile.username }}</p>
                            {% if user_profile.email %}
                            <p>Email: {{ user_profile.email }}</p>
                            {% endif %}
                            <p>Account created: {{ user_profile.date_joined|date }}</p>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col s12 center-align">
                            <a href="{% url 'project:project_members' project.id %}" class="btn waves-effect waves-light">
                                <i class="material-icons left">arrow_back</i>
                                Back to Members List
                            </a>
                            <a href="{% url 'project:project' project.id %}" class="btn waves-effect waves-light">
                                <i class="material-icons left">dashboard</i>
                                Back to Project
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>
{% endblock %}