{% load static %}
<button class="vertrue" href="#">Verified</button>

<button href="#">Nonprofit</button>
<button href="#">Volunteering</button>
<button href="#">Software</button>





<ul class="actions-menu">
		<li class="action-button">
			<a href="">Actions</a>
			<ul class="actions-list">
				<li>
					<a href="/{{ content.id }}/update/">Update</a>
				</li>
				<li>
					<a href="/admin/project/project/{{ content.id }}/change/">Admin panel</a>
				</li>
				<li class="action-button">
					<a href="#">Add</a>
					<ul class="actions-list">
						<li> <a href="/{{ project.id }}/add_task/">task</a></li>
						<li> <a href="/project/{{ project.id }}/add_problem/">problem</a></li>
						<li> <a href="/{{ project.id }}/add_subproject/">subproject</a></li>
						<li> <a href="/project/{{ project.id }}/add_introduction/">introduction</a></li>
						<li> <a href="/project/{{ project.id }}/add_goal/">goal</a></li>
						<li> <a href="/project/{{ project.id }}/add_assumption/">assumption</a></li>
						<li> <a href="/project/{{ project.id }}/add_requirement/">requirement</a></li></ul>
				</li>
			</ul>
		</li>
	</ul>

	<style>
		 button {
    padding: 6px;
    margin: 10px 5px 0px;
    background-color: var(--bg-color);
    color: var(--text2ndary);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 800;
}
	</style>