<p>Subproject of:</p>
	{% for project in parent_projects %}
			<div class="box">
				<a  style="color: var(--highlight);" href="/{{ project.id }}">{{ project.name }}</a>

				<p>{{ project.summary }}</p>

                <div class="chips" style="border-bottom: none;">
                    {% for skill in project.skills.all %}
                    <a href="{% url 'skill_detail' skill.name|lower %}" class="chip">
                        {{ skill.name }}
                    </a>
                    {% empty %}
                    <p>No skills added yet.</p>
                    {% endfor %}
                </div>

			</div>
			
	{% endfor %}
