{%load static%}
{% block tasks %}







<div class="row">
tasks:
    <div class="input-field col s12 m3">
        <select>
            <option value="" disabled>Sorting by</option>
            <option value="1" selected>Most important</option>
            <option value="2">Newest</option>
            <option value="3">Most comments</option>
            <option value="4">Highest reward</option>
        </select>

        <label>Sorting by</label>
    </div>

    <div class="input-field col s12 m4">
        <select>
            <option value="" disabled>Choose your option</option>
            <option value="1" selected>Doing</option>
            <option value="2">To do</option>
            <option value="3">Done</option>
            <option value="4">Pending</option>
        </select>

        <label>All / To do / Doing / Done </label>
    </div>
    <div class="input-field">
        <p>
            <label>
              <input type="checkbox" class="filled-in" checked="checked" />
              <span>Show tasks without reviews</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" class="filled-in" checked="checked" />
              <span>Show tasks without comments</span>
            </label>
          </p>
    </div>
</div>

<div class="needs-new">

    {%for task in tasks%}
    <div class="child-card">

        <a class='dropdown-trigger btn-flat' href='#' data-target='dropdown1'>
            <div class="priority">priority: {{task.priority}}</div>

            <img src="{% static 'icons/menu.svg' %}" alt="idea">
        </a>

        <!-- Dropdown Structure -->
        <ul id='dropdown-t-{{ task.id }}' class='dropdown-content'>
            <li> <a href="/admin/portal/project/{{ project.id }}/change/">[ ADMIN ]</a>
            </li>
            <li> <a href="/{{ project.id }}/add_subproject/">add subproject</a>
            </li>
            <li class="divider" tabindex="-1"></li>
            <li> <a href="/{{ project.id }}/add_task/">add task</a>
            </li>

        </ul>
        <div class="child-detials">


            <h5><a href="{% url 'task:task_detail' task.id %}">{{ task.name }}</a></h5>
            <p class="child-summary">
                {{ task.desc|default_if_none:"" }}
            </p>
        </div>

    </div>






    {% empty %}
    <div class="g12note" style="width: 30%; flex: none; padding: 20px;">
        <!-- dodać nową klasę, która będzie responsywna, bo inline css... dziąsło -->
        <h3>No needs published</h3>
        <p>You can change that {% lorem 1 b random %}</p>
    </div>

    <!-- ^closed needs-new -->
    {% endfor %}
</div>

{% endblock %}
