{% load static %}
<!DOCTYPE html>
<html lang="en">
  
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'navbar.css' %}">

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>

    <script src="{% static 'js/actionsmenu.js' %}"></script>
          {% comment %} nie wykorzystywany w tej template {% endcomment %}

    <title>{% block title %}2do.net{% endblock %}</title>
</head>

{% include "navbar.html" %}

<body>
    <div class="contentBASE">

        {% if user.is_authenticated %}
            <div class="desktop-item">
                <button onclick="window.location.href='/create/'">Create project</button>
            </div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
{% include "footer.html" %}



</body>
</html>


