{% load static %}
<!DOCTYPE html>
<html lang="en">
  
<head>
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/nouislider.css' %}" media="screen,projection"/>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->

    <link rel="shortcut icon" type="image/png" href="{% static 'icons/favicon.ico' %}"/>

    <script src="{% static 'js/actionsmenu.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/nouislider.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/wNumb.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/create_project.js' %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
        $(document).ready(function() {
          $(".dropdown-trigger").dropdown();
          $('.modal').modal();
          $('.fixed-action-btn').floatingActionButton();
          $('.collapsible').collapsible();
          $('.sidenav').sidenav();
          $('select').formSelect();
          $('.tabs').tabs();
          M.updateTextFields();
          $('.carousel').carousel();
          
        });
      </script>  
      <script src="{% static 'js/comment-rating.js' %}"></script>    
    {% comment %} nie wykorzystywany w tej template {% endcomment %}

    
    <title>{% block title %}2do.net{% endblock %}</title>
</head>


<body>
    <nav>
        <div class="nav-wrapper">
          <a href="/" class="brand-logo">
            <img class="logoicon" src="{% static 'icons/logo.png' %}" alt="logo">
             {% block projecttitle %} To do Network {% endblock %}
      
          </a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <img src="{% static 'icons/menu.svg' %}" alt="">
          </a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/">Home</a></li>
            <li><a href="/1">2do.net</a></li>
            <li><a href="/admin">admin</a></li>
            
            {% if user.is_authenticated %}
              <!-- Authenticated user dropdown -->
              <li><a class="dropdown-trigger" href="#!" data-target="dropdown-user-nav">User</a></li>
            {% else %}
              <!-- Non-authenticated user buttons -->
              <li><a href="/u/signin">Login</a></li>
              <li><a href="/u/signup">Register</a></li>
            {% endif %}

            <li><a class="dropdown-trigger" href="#!" data-target="dropdown-add-nav">Add</a></li>
          </ul>
        </div>
      </nav>
      
      <!-- Dropdown for Authenticated Users -->
      {% if user.is_authenticated %}
      <ul id="dropdown-user-nav" class="dropdown-content">
        <li><a href="/u/{{ user.id }}">Profile</a></li>
        <li><a href="/u/logout">Logout</a></li>
      </ul>
      {% endif %}

      <ul id="dropdown-add-nav" class="dropdown-content">
        <li><a href="/create">Project</a></li>
        <li><a href="/c/review">Review</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
      </ul>
      
      <!-- Sidenav for Mobile -->
      <ul class="sidenav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/1">2do.net</a></li>
        <li><a href="/admin">admin</a></li>
        
        {% if user.is_authenticated %}
          <!-- Authenticated user mobile menu -->
          <li><a href="/u/{{ user.id }}">Profile</a></li>
          <li><a href="/u/logout">Logout</a></li>
        {% else %}
          <!-- Non-authenticated user mobile menu -->
          <li><a href="/u/signin">Login</a></li>
          <li><a href="/u/signup">Register</a></li>
        {% endif %}
        
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown-add-nav-mobile">Add</a></li>
      </ul>
      
      <!-- Dropdown for Mobile -->
      <ul id="dropdown-add-nav-mobile" class="dropdown-content">
        <li><a href="/create">Project</a></li>
        <li><a href="/c/review">Review</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
      </ul>
    <div class="row">
        <div class="s12 m8">
            <div class="contentBASE">
                {% block content %}

                {% endblock %}
                
            </div>
            <div class="s12 m4">
                {% if user.is_authenticated %}
                <button onclick="window.location.href='/create/'">Create project</button>
                {% endif %}
            </div>

    <div class="desktop-item">
    </div>
</div>

    </div>
{% include "footer.html" %}



</body>

</html>