{% comment %} {% load static %} {% endcomment %}
{% block footer %}
<footer>

    <div class="footer-item footer2">
      <h4>About 2do.net</h4>
      <p>This website is for cooperation. People publish their ideas for others to get involved. </p>
        <div>
          <h4>Disclaimer</h4>
          <p>2do.net is a User-Generated Content website and does not constantly monitor published content (especially outside of the platform), so look out for malicious links.</p>
        </div>
    </div>
    
        </footer>
        {% endblock %}