{% load static %}
{% block navbar %}
<nav>
    <div class="navbar">
        <div class="logo">
                <a href="/">
                  <!--
                    logoiconwrapper -->
                    <img class="logoicon" src="{% static 'logo.png' %}" alt="logo">
                </a>
                <div class="logotype">
                    <a href="/" class="logotype-textold">
                      To do Network
                        <!-- To do Network -->
                    </a>
                    <span>
                        <a href="/about/">
                          Public Development
                            <!-- Public Development -->
                        </a>
                    </span>
                </div>
      </div>
      <input type="radio" name="slider" id="menu-btn">
      <input type="radio" name="slider" id="close-btn">
      <ul class="nav-links">
        <label for="close-btn" class="btn close-btn">
            <a class="iconbaricon" >
                <img src="{% static 'plan.svg' %}" alt="idea">
            </a>
        </label>
        <li><a href="/">Home</a></li>
        <li><a href="/1">2do.net</a></li>
        <li>
          <a href="#" class="desktop-item">Dev Menu</a>
          <input type="checkbox" id="showDrop">
          <label for="showDrop" class="mobile-item">Dropdown Menu</label>
          <ul class="drop-menu">
            <li><a href="/">Projects</a></li>
            <li><a href="/tasks/">Tasks</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/terms-and-conditions/">Rules</a></li>
            <li><a href="/admin/">Admin</a></li>
          </ul>
        </li>

        <li>
          <a href="#" class="desktop-item">Browser</a>
          <input type="checkbox" id="showMega">
          <label for="showMega" class="mobile-item">Browser</label>
          <div class="mega-box">
            <div class="nav-card">
                <div class="row">
                    <div class="megatxt">
                        <h4>
                            See what Authors want to do, do, and "done" 
                        </h4>
                        <p>
                            {% lorem 29 w random%}
                        </p>
                    </div>
                </div>
              <div class="row">
                <header><a>Published</a></header>
                <ul class="mega-links">
                  <li><a href="/">Projects</a></li>
                  <li><a href="#">Tasks</a></li>
                  <li><a href="#">Needs</a></li>

                </ul>
              </div>
              <div class="row">
                <header><a>Filter</a></header>
                <ul class="mega-links">
                  <li><a href="#">Coming soon</a></li>
                  <li><a href="#">Join development</a></li>

                </ul>
              </div>
              <div class="row">
                <header><a>Publish</a></header>
                <ul class="mega-links">
                  <li><a href="#">Add project</a></li>
									<li><a href="#">How publishing works?</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
          <a href="#" class="desktop-item">Tutorial</a>
          <input type="checkbox" id="showMega3">
          <label for="showMega3" class="mobile-item">Tutorial</label>
          <div class="mega-box mb3">
            <div class="nav-card">
              <div class="row">
                <div class="megatxt">
                    <h4>
                        2do.net
                    </h4>
                    <p>
                        {% lorem 29 w random%}
                    </p>
										<br>
										<a href="#">More about 2do.net</a>
										<br>
										<a href="#">General introduction</a>
                </div>
            </div>
              <div class="row">
                <header><a href="#">Usage</a></header>
                <ul class="mega-links">
                  <li><a href="#">Basics</a></li>
                </ul>
              </div>
              <div class="row">
                <header><a href="#">Support</a></header>
                <ul class="mega-links">
                  <li><a href="#">Helping others</a></li>
									<li><a href="#">Getting help</a></li>
									<li><a href="#">General rules</a></li>
                </ul>
              </div>
              <div class="row">
                <header><a>Legal</a></header>
                <ul class="mega-links">
                  <li><a href="#">Community policy</a></li>
									<li><a href="#">Privacy policy</a></li>
									<li><a href="#">Intellectual Property policy</a></li>
									<li><a href="#">Disputes</a></li>
                </ul>
              </div>
            </div>
          </div>
        </li>
        <li>
            <a href="#" class="desktop-item">About</a>
            <input type="checkbox" id="showMega2">
            <label for="showMega2" class="mobile-item">About</label>
            <div class="mega-box mb2">
              <div class="nav-card">
                <div class="row">
                  <div class="megatxt">
                      <h4>
                          2do.net
                      </h4>
                      <p>
                          {% lorem 29 w random%}
                      </p>
                  </div>
              </div>
                <div class="row">
                  <header><a>The website</a></header>
                  <ul class="mega-links">
                    <li><a href="#">Administration</a></li>
										<li><a href="#">Moderation</a></li>
                  </ul>
                </div>
                <div class="row">
                  <header><a href="#">Software</a></header>
                  <ul class="mega-links">
                    <li><a href="#">GitHub</a></li>
                  </ul>
                </div>
                <div class="row">
                  <header><a>Organization</a></header>
                  <ul class="mega-links">
                    <li><a href="#">UW</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        <li><a href="#">Feedback</a></li>
      </ul>
      <label for="menu-btn" class="btn menu-btn">
        <a class="iconbaricon">
            <img src="{% static 'task.svg' %}" alt="idea">
        </a>
    </label>
    </div>
  </nav>

{% endblock %}