{% comment %}
{% endcomment %}
{% load static %}
{% block projectcard %}

<div class="projectgrid">
    {% for project in latest_projects_list %}

    <div class="project-card2">
        <div class="title"><a href="/{{project.id}}">{{project.name}}</a></div>
        <div class="summary">{{project.desc}}</div>


        <div class="author">
            <button class="state post-type" onclick="togglePopup('author-{{project.id}}')">
                <svg width="18" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M15.75 6C15.75 8.07107 14.071 9.75 12 9.75C9.9289 9.75 8.24996 8.07107 8.24996 6C8.24996 3.92893 9.9289 2.25 12 2.25C14.071 2.25 15.75 3.92893 15.75 6Z"
                        stroke="#0F172A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                        d="M4.5011 20.1182C4.5714 16.0369 7.90184 12.75 12 12.75C16.0982 12.75 19.4287 16.0371 19.4988 20.1185C17.216 21.166 14.6764 21.75 12.0003 21.75C9.32396 21.75 6.78406 21.1659 4.5011 20.1182Z"
                        stroke="#0F172A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

            </button>
            <div id="author-{{project.id}}" class="popup">
                <button class="popup-close-btn" onclick="togglePopup('author-{{project.id}}')">X Close</button>
                <div style="overflow-y: scroll; height:400px;" class="popupContent">
                    <h4>Author type of
                        <i>{{project.name}}</i>
                    </h4>
                    <p>
                    <ul>
                        <li>user</li>
                        <li>moderator</li>
                        <li>admin</li>
                        <li>researchteam</li>
                        <li>studenteam</li>
                        <li>public</li>

                    </ul>
                    icon representing

                </div>
            </div>


            <a href="#">
                <i style="color: #e5c129;">
                    Username</i></a>

            <button class="state post-type" onclick="togglePopup('verification-{{project.id}}')">
                <svg xmlns="http://www.w3.org/2000/svg" style="fill: var(--text);" width="16" height="16"
                    viewBox="0 -960 960 960">
                    <path
                        d="m438-338 226-226-57-57-169 169-84-84-57 57zm42 258q-139-35-229.5-159.5T160-516v-244l320-120 320 120v244q0 152-90.5 276.5T480-80m0-84q104-33 172-132t68-220v-189l-240-90-240 90v189q0 121 68 220t172 132m0-316" />
                </svg>
            </button>
            <div id="verification-{{project.id}}" class="popup">
                <button class="popup-close-btn" onclick="togglePopup('verification-{{project.id}}')">X Close</button>
                <div style="overflow-y: scroll; height:400px;" class="popupContent">
                    <h4>Verification of
                        <i>{{project.name}}</i>
                    </h4>
                    <h5>To do</h5>
                    <ul>
                        <li>different icon for different kind of verifications
                        </li>
                    </ul>
                    <p>{% lorem 21 b random %}</p>
                    <a href="/about">asd</a>
                </div>
            </div>
            </i>
            </a>

        </div>

        <div class="stats">
            <button class="state post-type" onclick="togglePopup('comments-{{project.id}}')">
                Nc <svg title="Number of comments" width="16" height="16" viewBox="0 0 16 16"
                    xmlns="http://www.w3.org/2000/svg" fill="var(--highlight)">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M4 11.29l1-1v1.42l-1.15 1.14L3 12.5V10H1.5L1 9.5v-8l.5-.5h12l.5.5V6h-1V2H2v7h1.5l.5.5v1.79zM10.29 13l1.86 1.85.85-.35V13h1.5l.5-.5v-5l-.5-.5h-8l-.5.5v5l.5.5h3.79zm.21-1H7V8h7v4h-1.5l-.5.5v.79l-1.15-1.14-.35-.15z" />
                </svg>
            </button>
    
            <div id="comments-{{project.id}}" class="popup">
                <button class="popup-close-btn" onclick="togglePopup('comments-{{project.id}}')">X Close</button>
                <div style="overflow-y: scroll; height:400px;" class="popupContent">
                    <h4>Comments</h4>
                    <p>{% lorem 21 b random %}</p>
                    <a href="/about">asd</a>
                </div>
            </div>
    
            <button title="Users in the project" class="state post-type" onclick="togglePopup('users-{{project.id}}')">
    
                Nu <svg width="16" height="16" viewBox="0 0 24 24" color="var(--highlight)"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M15 19.1276C15.8329 19.37 16.7138 19.5 17.625 19.5C19.1037 19.5 20.5025 19.1576 21.7464 18.5478C21.7488 18.4905 21.75 18.4329 21.75 18.375C21.75 16.0968 19.9031 14.25 17.625 14.25C16.2069 14.25 14.956 14.9655 14.2136 16.0552M15 19.1276V19.125C15 18.0121 14.7148 16.9658 14.2136 16.0552M15 19.1276C15 19.1632 14.9997 19.1988 14.9991 19.2343C13.1374 20.3552 10.9565 21 8.625 21C6.29353 21 4.11264 20.3552 2.25092 19.2343C2.25031 19.198 2.25 19.1615 2.25 19.125C2.25 15.6042 5.10418 12.75 8.625 12.75C11.0329 12.75 13.129 14.085 14.2136 16.0552M12 6.375C12 8.23896 10.489 9.75 8.625 9.75C6.76104 9.75 5.25 8.23896 5.25 6.375C5.25 4.51104 6.76104 3 8.625 3C10.489 3 12 4.51104 12 6.375ZM20.25 8.625C20.25 10.0747 19.0747 11.25 17.625 11.25C16.1753 11.25 15 10.0747 15 8.625C15 7.17525 16.1753 6 17.625 6C19.0747 6 20.25 7.17525 20.25 8.625Z"
                        stroke="#0F172A" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
    
            </button>
            <div id="users-{{project.id}}" class="popup">
                <button class="popup-close-btn" onclick="togglePopup('users-{{project.id}}')">X Close</button>
                <div style="overflow-y: scroll; height:400px;" class="popupContent">
                    <h4>USers in the project</h4>
                    <p>{% lorem 21 b random %}</p>
                    <a href="/about">asd</a>
                </div>
            </div>
            <button class="state post-type" onclick="togglePopup('menu-{{project.id}}')">
                <svg stroke="currentColor" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
                    fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <rect width="18" height="18" x="3" y="3" rx="2" />
                    <path d="M7 8h10" />
                    <path d="M7 12h10" />
                    <path d="M7 16h10" />
                </svg>
            </button>
            <div class="popup" id="menu-{{project.id}}">
                <div style="overflow-y: scroll; height:400px;" class="popupContent">
                    <h4>Menu: Work in progress</h4>
                    <p>{% lorem 21 b random %}</p>
                    <a href="#">Join development</a>
                    <!-- ^ GitHub issue link -->
                </div>
                <button class="popup-close-btn" onclick="togglePopup('menu-{{project.id}}')">X Close</button>
            </div>
        </div>
        <div class="needs">
            <div class="needCards">
                <span style="font-weight: bold;">Needs:</span>
                {% for need in project.need_set.all %}
                <a href="/need/{{need.id}}">{{need.name}}</a>
                {% empty %}
                <span>not published</span>

                {% endfor %}
            </div>
        </div>
    </div>



    {% empty %}
    <p>No projects available.</p>
    {% endfor %}
</div>
{% endblock %}