{% comment %}
{% endcomment %}
{% load static %}
{% block projectcard %}
<div id="blur" class="blur"></div>
<div class="projectgrid">
    {% for project in latest_projects_list %}

    <div class="project-card2">
        <div class="title"><a href="/{{project.id}}">{{project.name}}</a></div>
        <div class="summary">{{project.summary}}</div>


        <div class="author">
            <button class="state post-type" onclick="togglePopup('author-{{project.id}}')">
                <img src="{% static 'icons/author.svg' %}"></img>


            </button>
            <div id="author-{{project.id}}" class="popup">
                <button class="popup-close-btn" onclick="togglePopup('author-{{project.id}}')">X Close</button>
                <div style="overflow-y: scroll; height:400px;" class="popupContent">
                    <h4>Author type of
                        <i>{{project.name}}</i>
                    </h4>
                    <p>
                    <ul>
                        <li>user</li>
                        <li>moderator</li>
                        <li>admin</li>
                        <li>researchteam</li>
                        <li>studenteam</li>
                        <li>public</li>

                    </ul>
                    icon representing

                </div>
            </div>


            <a href="/u/{{project.created_by.id}}">
                <i style="color: #e5c129;">
                    {{project.created_by.username}}</i></a>

            <button class="state post-type" onclick="togglePopup('verification-{{project.id}}')">
                <img style="fill: blue !important;" src="{% static 'icons/ver.svg' %}"></img>
            </button>
            <div id="verification-{{project.id}}" class="popup">
                <button class="popup-close-btn" onclick="togglePopup('verification-{{project.id}}')">X Close</button>
                <div style="overflow-y: scroll; height:400px;" class="popupContent">
                    <h4>Verification of
                        <i>{{project.name}}</i>
                    </h4>
                    <h5>To do</h5>
                    <ul>
                        <li>different icon for different kind of verifications
                        </li>
                    </ul>
                    <p>lorem ipsum</p>
                    <a href="/about">asd</a>
                </div>
            </div>
            </i>
            </a>

        </div>

        <div class="stats">

<!-- comments -->
            <a class="waves-effect waves-teal btn-flat modal-trigger border" href="#comments-{{project.id}}">
                Nc
                <i class="right">
                    <img src="{% static 'icons/comments.svg' %}" alt="xD"></img>
                </i>
            </a>
            <!-- comments popup content -->
                <div id="comments-{{project.id}}" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h4>Modal Header for {{project.name}}</h4>
                        <p>A bunch of text</p>
                        <h4>USers in the project</h4>
                        <p>lorem ipsum</p>
                        <a href="/about">asd</a>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>

<!-- users -->
            <a class="waves-effect waves-teal btn-flat modal-trigger border" href="#users-{{project.id}}">

                Nu <img src="{% static 'icons/users.svg' %}"></img>
            </a>
            <!-- users popup -->
                <div id="users-{{project.id}}" class="modal modal-fixed-footer">
                    <div class="modal-header">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat right">
                            <i>	<img class="close" src="{% static 'icons/close.svg' %}" alt=""></i>
                        </a>
                    </div>
                    <div class="modal-content">
                        <h4>Modal Header for {{project.name}}</h4>
                        <p>A bunch of text</p>
                        <h4>USers in the project</h4>
                        <p>lorem ipsum</p>
                        <a href="/about">asd</a>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>

<!-- supporters -->
                <a class="waves-effect waves-teal btn-flat modal-trigger border" href="#supporters-{{project.id}}">
                    Nu <i class="right"><img src="{% static 'icons/supporters.svg' %}" alt=""></i>
                </a>
                <!-- supporters popup -->
                <div id="supporters-{{project.id}}" class="modal modal-fixed-footer">
                    <div class="modal-content">
                        <h4>Modal Header for {{project.name}}</h4>
                        <p>A bunch of text</p>
                        <h4>supporters</h4>
                        <p>lforem ipsum</p>
                        <a href="/about">asd</a>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>



                <a class='dropdown-trigger btn-flat' href='#' data-target='actions-{{project.id}}'>
                    <img src="{% static 'icons/menu.svg' %}" alt="idea">
                </a>
        
                <!-- Dropdown Structure -->
                <ul id='actions-{{project.id}}' class='dropdown-content'>
                    <li> <a href="/admin/project/project/{{ project.id }}/change/">[ ADMIN ]</a>
                    </li>
                    <li> <a href="/{{ project.id }}/add_subproject/">add subproject</a>
                    </li>
                    <li class="divider" tabindex="-1"></li>
                    <li> <a href="/{{ project.id }}/add_task/">add task</a>
                    </li>
                    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
                    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
                </ul>
        </div>

        <div class="needs">
            <div class="needCards">
                <span style="font-weight: bold;">Needs:</span>
                {% for need in project.need_set.all %}
                <a href="/need/{{need.id}}">{{need.name}}</a>
                {% empty %}
                <span>not published</span>

                {% endfor %}
            </div>
        </div>
    </div>


    {% empty %}
    <p>No projects available.</p>
    {% endfor %}
</div>
{% endblock %}